/*  Download Modal */
#aqua-download-modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  color: white;
  backdrop-filter: brightness(0.42);
}

.aqua-download-modal-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* Todo: Fix colors */
  margin: 1rem; /* 16px */
  padding: 2rem; /* 32px */
  background-color: var(--SurfaceBackground);
  color: var(--solid-black);
  border-radius: 0.5rem; /* 8px */
  font-weight: 600;
}

.aqua-download-modal-card-header {
  display: flex;
  justify-content: space-between;
  gap: 2rem; /* 32px */
  align-items: center;
}

.aqua-download-modal-card-header p {
  margin-bottom: 0;
}

.aqua-download-modal-card-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* 16px */
}

.aqua-download-modal-card-buttons img {
  height: 60px;
  width: auto;
  object-fit: contain;
}

@media (min-width: 768px) {
  .aqua-download-modal-card-buttons {
    flex-direction: row;
  }
}